
ipas/GithubActionsXcode 2023-09-16 15-03-56/DistributionSummary.plist
ipas/GithubActionsXcode 2023-09-16 15-03-56/ExportOptions.plist
ipas/GithubActionsXcode 2023-09-16 15-03-56/GithubActionsXcode.ipa
ipas/GithubActionsXcode 2023-09-16 15-03-56/Packaging.log
build/iamgroot.xcarchive/dSYMs/GithubActionsXcode.app.dSYM/Contents/Info.plist
build/iamgroot.xcarchive/dSYMs/GithubActionsXcode.app.dSYM/Contents/Resources/DWARF/GithubActionsXcode
build/iamgroot.xcarchive/Info.plist
build/iamgroot.xcarchive/Products/Applications/GithubActionsXcode.app/_CodeSignature/CodeResources
build/iamgroot.xcarchive/Products/Applications/GithubActionsXcode.app/embedded.mobileprovision
build/iamgroot.xcarchive/Products/Applications/GithubActionsXcode.app/GithubActionsXcode
build/iamgroot.xcarchive/Products/Applications/GithubActionsXcode.app/Info.plist
build/iamgroot.xcarchive/Products/Applications/GithubActionsXcode.app/PkgInfo
ExportOptions.plist
